{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/resource/style.min.css">
    {{ super() }}
{% endblock %}
{% block content %}
<ul class="tree">
    {% for child in children -%}
    <li>
        {%- if child['isdir'] -%}
            <a href="/tree/{{ child['path'] }}">{{ child['name'] }}</a>
        {%- elif child['isnb'] -%}
            <a href="/show/{{ child['path'] }}">{{ child['name'] }}</a>
        {%- else -%}
            {{ child['name'] }}
        {%- endif -%}
    </li>
    {%- endfor %}
</ul>
{% endblock %}
